<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="New York Times">
    <meta name="theme-color" content="#" />
    <title>
        NYTimes Scraper
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
 
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <header class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">New York Times Scraper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="align-middle">
                        <i class="fa fa-navicon"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item resp-nav">
                            <a class="nav-link" id="saved-link" href="/saved">Saved Articles</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn btn-sm btn-secondary" id="btn-scraper">
                                <i class="fa fa-newspaper-o"></i>Scrape</button>
                        </li>
                    </ul>
                   
                </div>
            </nav>
        </header>
        {{{ body }}}
</body>

</html>
